html,
body,
.intro {
    height: 100%;
}
.intro h1{
    position: relative;
    left: 106px;
    top: 327px;
    font-weight: bold;
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    width: 1150px;
    position: absolute;
    left: -170px;
    top: -135px;
}

/*slide*/
#slide {
    width: 304px;
    height: 644px;
    position: absolute;
    left: 1585px;
    top: 258px;
}

#slide img {
    width: 100%;
    height: 100%;
    display: none; /* Initially hide all images */
}
